body {
    padding: 100px;
    background: linear-gradient(to bottom, #fff0f7, #e6b4d5); 
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin: 0 auto;
    width: 100%;
    max-width: 80%;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 3em;
    color: #af2626;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    font-size: 2em;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img, video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 50%;
    border-radius: 5%;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.caption {
    font-size: 1em;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    margin-bottom: 30px;
}